.btn-primary, .btn-primary:visited {
    background-color: brown !important;
    box-shadow: none !important;
    border:1px solid grey !important;
    color: black !important;
}

.btn-primary:hover {
    background-color: white !important;
    color: brown !important;
}

/* header section*/

.header-element {
    width: auto;
    height: 10rem;
    margin-top: 2rem;
}

.header-div {
    background: url("/assets/header-bg.jpg");
}

.el-btn {
    background: url("/assets/red-dot.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    margin-right: 100%;
    color: white !important;
}

.navbar-btn {
    border: none;
    background: none;
    margin-left: 80%;
    margin-top: 10%;
    width: auto;
    font-size: x-large;
    display: flex;
}

.current-nav a{
    color: brown !important;
    text-decoration: none;
}

.ul-overlay li a {
    text-decoration: none !important;
}

.ul-overlay li {
    list-style: none;
    font-size: x-large;
}

.ul-overlay li a:hover {
    text-decoration: none !important;
    color: brown !important;
}

.ul-overlay li a:active {
    text-decoration: underline !important;
}

/* hidden */

.blur{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.full-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*-webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);*/
}
  
.flex-container-center {
    displaY: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.hidden {
    display: none;
}  

.sec {
    position: absolute;
    left: 1;
    right: 0;
    top: 0;
    bottom: 1;
}

/* mobile menu */
.nav-toggle {
    background: none;
    border: none;
}

.links a {
    font-size: 1rem;
    display: block;
    padding: 0.5rem 1rem;
}

.links {
    height: 0;
    overflow: hidden;
}

.show-links {
    height: 10rem;
}

@media screen and (min-width: 800px) {
    .nav-toggle {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
    }

    .links .col a {
        padding: 0;
        margin: 0 0.5rem;
        display: block;
    }
}


/* Second div */
.second-div .row .col {
    list-style: none;
}

.second-div .row .col a{
    text-decoration: none !important;
    font-size: x-large;
}

.second-div .row .col a:hover{
    color: brown !important;
}


/*.second-div .row .col a:active{
    background: url("/assets/red-dot.png");
    background-repeat: no-repeat;
}*/

.second-div {
    border:1px solid brown;
    padding: 0.5cm;
}

/* Products div */
.products-div {
    width: 100%;
    height: 400px;
    background: url("/assets/koulourakia-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Footer div */

.footer-div {
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.footer-div .input-group input {
    outline: none !important;
    box-shadow: none;
}

.footer-div .input-group input:focus {
    border:1px solid black !important;
}

.fb-btn {
    background-image : url("/assets/facebook-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid black !important;
}

.inst-btn {
    background-image : url("/assets/instagram-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid black !important;
}

.input-group span {
    text-align: end;
}

.footer-span {
    color: brown;
}

/*lower screen */
@media screen and (max-width: 1200px) {
    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .navbar-btn {
        margin-left: 20%;
        margin-top: 60%;
    }

    .second-div {
        padding: 0%;
    }

    .second-div .row .col {
        display: flex;
        flex-direction: column;
    }

    .products-div {
        position: static !important;
        overflow-x: hidden;
        height:60%;
        background-size: contain;
    }

    .products-div .row .col{
        padding-left: 20% !important;
    }

    .footer-div { 
        position: relative !important;
        bottom: 0px;
        margin-left: 0;
    }

    .footer-div .input-group .form-control {
        width: fit-content;
    }

    .footer-div .input-group .form-control {
        padding: 0rem 0rem !important;
    }

    .footer-div .input-group span {
        text-align: start !important;
    }
}

@media screen and (max-width: 745px) { 
    .footer-div .input-group span , .footer-div .input-group .form-control{
        width: auto;
        min-width: auto;
        display:auto;
        text-align: top;
    }

    .footer-div .input-group .form-control {
        padding: 0.2rem 0.2rem !important;
    }
}

@media screen and (max-width: 500px) {
    .header-div .row {
        display: flex;
    }

    .navbar-btn {
        margin-left: 2%;
        margin-top: 100%;
    }
    
    .footer-div .input-group .form-control {
        padding: 0rem 0rem !important;
    }

    .footer-div .input-group span {
        font-size: small;
    }

    .footer-div .input-group .inst-btn , .footer-div .input-group .fb-btn {
        width: 10%;
        width: fit-content;
    }
}

@media screen and (max-width: 420px) {
    .navbar-btn {
        margin-left: 0%;
        margin-top: 100%;
        display: block;
    }
}