.btn-primary, .btn-primary:visited {
    background-color: brown !important;
    box-shadow: none !important;
    border:1px solid grey !important;
    color: black !important;
}

.btn-primary:hover {
    background-color: white !important;
    color: brown !important;
}

/* header section*/

.header-element {
    width: auto;
    height: 10rem;
    margin-top: 2rem;
}

.header-div {
    background: url("/assets/header-bg.jpg");
}

.el-btn {
    background: url("/assets/red-dot.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    margin-right: 100%;
    color: white !important;
}

.current-nav a{
    color: brown !important;
    text-decoration: none;
}

.ul-overlay li a {
    text-decoration: none !important;
}

.ul-overlay li {
    list-style: none;
    font-size: x-large;
}

.ul-overlay li a:hover {
    text-decoration: none !important;
    color: brown !important;
}

.ul-overlay li a:active {
    text-decoration: underline !important;
}

/* hidden */
header nav {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 170px;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

header nav ul li {
    transform: translateY(50px);
    opacity: 0;
}

header nav ul li a {
    display: block;
    font-size: 2em;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    color: #000000;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
  
header nav ul li a:hover {
    color: brown;
}
  
.toggle-btn {
    display: block;
    position: fixed;
    z-index: 10;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.toggle-btn .bar {
    width: 30px;
    height: 2px;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}

  .toggle-btn .bar:nth-child(2) {
    width: 20px;
}
  
#toggle:checked ~ nav {
    opacity: 1;
    visibility: visible;
}

  #toggle:checked ~ nav ul {
    top: 70px;
}

#toggle:checked ~ nav ul li {
    transform: translateY(0px);
    opacity: 1;
}

/* mobile menu */
.nav-toggle {
    background: none;
    border: none;
}

.links a {
    font-size: 1rem;
    display: block;
    padding: 0.5rem 1rem;
}

.links {
    height: 0;
    overflow: hidden;
}

.show-links {
    height: 10rem;
}

@media screen and (min-width: 800px) {
    .nav-toggle {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
    }

    .links .col a {
        padding: 0;
        margin: 0 0.5rem;
        display: block;
    }
}


/* Second div */
.second-div .row .col {
    list-style: none;
}

.second-div .row .col a{
    text-decoration: none !important;
    font-size: x-large;
}

.second-div .row .col a:hover{
    color: brown !important;
}


/*.second-div .row .col a:active{
    background: url("/assets/red-dot.png");
    background-repeat: no-repeat;
}*/

.second-div {
    border:1px solid brown;
    padding: 0.5cm;
}

/* Products div */
.products-div {
    width: 100%;
    height: 400px;
    background: url("/assets/koulourakia-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Footer div */

.footer-div {
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.footer-div .input-group input {
    outline: none !important;
    box-shadow: none;
}

.footer-div .input-group input:focus {
    border:1px solid black !important;
}

.fb-btn {
    background-image : url("/assets/facebook-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid black !important;
}

.inst-btn {
    background-image : url("/assets/instagram-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid black !important;
}

.input-group span {
    text-align: end;
}

.footer-span {
    color: brown;
}

/*lower screen */
@media screen and (max-width: 1200px) {
    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .second-div {
        padding: 0%;
    }

    .second-div .row .col {
        display: flex;
        flex-direction: column;
    }

    .products-div {
        position: static !important;
        overflow-x: hidden;
        height:60%;
        background-size: contain;
    }

    .products-div .row .col{
        padding-left: 20% !important;
    }

    .footer-div { 
        position: relative !important;
        bottom: 0px;
        margin-left: 0;
    }

    .footer-div .input-group .form-control {
        width: fit-content;
    }

    .footer-div .input-group .form-control {
        padding: 0rem 0rem !important;
    }

    .footer-div .input-group span {
        text-align: start !important;
    }
}

@media screen and (max-width: 745px) { 
    .footer-div .input-group span , .footer-div .input-group .form-control{
        width: auto;
        min-width: auto;
        display:auto;
        text-align: top;
    }

    .footer-div .input-group .form-control {
        padding: 0.2rem 0.2rem !important;
    }
}

@media screen and (max-width: 500px) {
    .header-div .row {
        display: flex;
    }
    
    .footer-div .input-group .form-control {
        padding: 0rem 0rem !important;
    }

    .footer-div .input-group span {
        font-size: small;
    }

    .footer-div .input-group .inst-btn , .footer-div .input-group .fb-btn {
        width: 10%;
        width: fit-content;
    }
}